.embla {
  --slide-height: 19rem;
  --slide-spacing: 0.5rem;
  --slide-size: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.embla__viewport {
  overflow: hidden;
}

@media (min-width: 40rem) {
  .embla {
    --slide-size: 50%;
  }
}

@media (min-width: 64rem) {
  .embla {
    --slide-size: 25%;
  }
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  backface-visibility: hidden;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  position: relative;
  min-width: 0;
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
}
.embla__slide__img {
  border-radius: 1.8rem;
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}
.embla__parallax {
  overflow: hidden;
  display: flex;
  height: var(--slide-height);
  border-radius: 1.84rem;
}
.embla__parallax__layer {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: none;
  display: flex;
}
.embla__parallax__img {
  object-fit: cover;
  height: 100%;
  flex: 0 0 calc(115% + (var(--slide-spacing) * 2));
}
.embla__controls {
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 60px;
  height: 60px;
  z-index: 1;
  border-radius: 50%;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.embla__button__prev {
  @apply border text-(--color-primary)/20 border-(--color-primary);
}

.embla__button__next {
  @apply border text-(--primary-foreground) bg-(--color-primary);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(20, 90, 67, 0.2);
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
.embla__dot__selected {
  background-color: #145a43;
}
