.real_project_embla {
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

@media (min-width: 40rem) {
  .real_project_embla {
    --slide-size: 50%;
  }
}

@media (min-width: 64rem) {
  .real_project_embla {
    --slide-size: 25%;
  }
}

.real__project__embla__container {
  display: flex;
  touch-action: pan-y;
  backface-visibility: hidden;
  margin-left: calc(var(--slide-spacing) * -1);
}

.real__project__embla__slide {
  position: relative;
  min-width: 0;
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
}

.real__project__embla__parallax {
  overflow: hidden;
  display: flex;
  height: var(--slide-height);
  border-radius: 1.84rem;
}

.real__project__embla__parallax__layer {
  position: relative;
  height: 100%;
  max-width: none;
  flex: 0 0 calc(175% + (var(--slide-spacing) * 2));
}

.real__project__embla__parallax__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
