@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@utility container {
  @apply w-full mx-auto px-4;

  @media (width >= 40rem) {
    max-width: 40rem;
  }
  @media (width >= 48rem) {
    max-width: 48rem;
  }
  @media (width >= 64rem) {
    max-width: 64rem;
  }
  @media (width >= 80rem) {
    max-width: 80rem;
  }
  @media (width >= 96rem) {
    max-width: 85%; /* Scale with screen size */
    max-width: min(85vw, 140rem);
  }
}

@theme inline {
  /* fonts */
  --font-teachers: var(--font-teachers);
  --font-inter: var(--font-inter);

  /* Custom Color Variables */
  --color-primary-hover: #145a43;
  --color-primary-pressed: #0a2a20;
  --color-secondary-hover: #e6f0ec;
  --color-secondary-pressed: #cfe3db;
  --color-third: #c9a24d;
  --color-fourth: #6c757d;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(32.428% 0.05638 167.494);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground min-h-[5000px];
  }
}

@layer utilities {
  .navLink {
    @apply relative text-[18px] font-bold font-inter after:absolute after:-bottom-1 after:left-1/2 after:-translate-x-1/2 after:h-0.5 after:rounded-full after:bg-third after:transition-all hover:after:w-full;
  }

  .responsive-nav {
    @apply fixed top-24 left-0 w-full pt-28 px-16 space-y-28 h-screen -z-10 md:hidden bg-primary transition-all duration-500 ease-in-out;
  }

  .overlay {
    @apply bg-linear-to-b from-black/0 to-black w-full h-full absolute top-0 left-0 z-10;
  }

  .hero_embla {
    @apply overflow-hidden h-[calc(100vh-98px)];

    .hero_embla__container {
      @apply flex h-full;
    }

    .hero_embla__slide {
      @apply flex-1 min-w-full h-full;
    }
  }

  .real-project-embla {
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 100%;

    @media (width >= 40rem) {
      --slide-size: 50%;
    }

    @media (width >= 64rem) {
      --slide-size: 25%;
    }

    @apply w-full mx-auto overflow-hidden;

    .real-project-embla__container {
      @apply flex touch-pan-y;
      backface-visibility: hidden;
      margin-left: calc(var(--slide-spacing) * -1);
    }

    .real-project-embla__slide {
      @apply relative min-w-0;
      flex: 0 0 var(--slide-size);
      padding-left: var(--slide-spacing);
      transform: translate3d(0, 0, 0);
    }

    .real-project-embla__parallax {
      @apply overflow-hidden rounded-2xl flex justify-center items-center;
      height: var(--slide-height);
    }

    .real-project-embla__parallax__layer {
      @apply relative h-full max-w-none;
      flex: 0 0 calc(180% + (var(--slide-spacing) * 2));
    }

    .real-project-embla__parallax__img {
      @apply object-cover;
    }
  }
}
